{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "singleAttributePerLine": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
